h1 {
  font-style: italic;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.green_assigned {
  color: green;
}

.orange_due {
  color: orange;
}

p {
  font-size: 1.2em;
}

figcaption {
  margin: auto;
  text-align: center;
}
