h1 {
  font-style: italic;
  text-align: center;
}

p.center_text {
  text-align: center;
}

figcaption {
  margin: auto;
  text-align: center;
}

.green_assigned {
  color: green;
}

.orange_due {
  color: orange;
}